<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.record">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".activity.WordHtmlActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DocTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShouTiaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DocListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DocListTypeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QueryDocListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoTempActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JiaoTongDiaoChaBaoGaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.XingZhengChuFaBiLuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JiuJingBiLuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WeiTuoShuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.XueYeNiaoJianActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WuPinFaHuanZhengActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnJianShenHeDengJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JiaoTongDangShiRenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QiangJiuFeiZhiFuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JiaoTongTiaoJieShuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JiaoTongShiGuRenDingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JiaoTongShiGuRenDingJYActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShouAnHuiZhiActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.PrintRecordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EmptyDocActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.JiaoTongShiGuZhengMingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BaoGaoShuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.FaPoAnJingGuoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.XianChangJianChaActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.QianKeLieJiActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>